.white-bg {
  background-color: #FFF;
}

body {
  font-size: 13px;
  color: #333;
  background-color: #F2F2F2;
}

body, h1, h2 {
  font-family: "Roboto", Helvetica;
}

#top-bg {
  background-size: cover;
  height: 200px;
  position: relative;
}

.photo-copyright {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 11px;
  color: #AAA;
  text-transform: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.photo-copyright:hover {
  text-decoration: none;
  color: #FFF;
}

#main {
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 15px;
  font-weight: 300;
}

#main .img-container {
  text-align: center;
}

#main img {
  max-width: 100%;
}

#main .img-circle {
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 100px;
}

#main h1 {
  color: #666;
}

#main h2 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
  padding: 10px;
}

.nav li {
  text-transform: uppercase;
}


.colored-bar {
  height: 5px;
  width: 100%;
}

#footer .colored-bar {
  width: 180px;
}

.colored-bar > div {
  height: 100%;
  width: 20%;
  float: left;
}

.colored-bar .red {
  background-color: #E6745E;
}

.colored-bar .orange {
  background-color: #E3B161;
}

.colored-bar .green {
  background-color: #DBF58E;
}

.colored-bar .blue {
  background-color: #9ADEFC;
}

.colored-bar .purple {
  background-color: #B298FD;
}

#footer {
  background-color: #F2F2F2;
  clear: left;
}

#footer .container p:nth-child(2) {
  padding-top: 20px;
}

#footer .container p:last-child {
  padding-bottom: 50px;
  margin-bottom: 0px;
}

#footer a {
  text-decoration: none;
  color: #333;
}
